/*Adicionando as fontes */
 @font-face {
    font-family: 'Helvetica 25 UltraLight Regular';
    src: url('fonts/HelveticaUltraLt_0.ttf') format('trueType');
}

@font-face {
    font-family: 'Helvetica Condensed';
    src: url('fonts/ps.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Light';
    src: url('fonts/Roboto-Light_0.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Regular';
    src: url('fonts/Roboto-Regular_0.ttf') format('truetype');
}

/*variaveis*/
:root {
    --color-01: #29abe2;
    --color-02: #012d51;
    --color-03: #808080;
    --color-04: #ffffff;

    --fonte-helvetica-25: 'Helvetica 25 UltraLight Regular';
    --fonte-helvetica-cond: 'Helvetica Condensed Regular';
    --fonte-roboto-l: 'Roboto Light';
    --fonte-roboto-r: 'Roboto Regular';

}

/*Resetando a formatação da pagina */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

}

/* Header padrão */
header {
    height: calc(100vh - 200px);
    background: no-repeat center/cover url(img/index-image.jpg);
}

/* Navbar */
nav {
    height: 80px;
    width: 100%;
    padding: 0 200px;
}

nav label img {
    width: 150px;
    height: 80px;
    margin: 0 5px;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul span {
    content: "\2022";
    color: var(--color-04);
}


nav ul li a {
    color: var(--color-04);
}


/* Conteudo do Header */
.header-content {
    color: var(--color-04);
    padding: 200px 200px;
    font-family: var(--fonte-helvetica-25);

}

h1, h2{
    font-family: var(--fonte-helvetica-25);
}

.header-content h1 {
    font-size: 55px;
}

.container-cadastro {
    background-color: var(--color-01);
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-form {
    width: 500px;
    padding: 50px;
    color: #fff;
    top: 50%;
    left: 50%;
}


.section-form h2 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 30px;

}

#btn{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

button{
    padding: 5px;
    font-size: 30px;
    border: none;
    background-color: var(--color-02);
    color: var(--color-01);
    font-family: var(--fonte-helvetica-25);
}

.inputBox {
    position: relative;
    margin: 15px;
}

.inputBox label{
    font-family: var(--fonte-roboto-r);
}

.InputUser {
    background: none;
    border: none;
    border-bottom: 1px solid var(--color-04);
    outline: none;
    color: var(--color-04);
    font-size: 15px;
    width: 100%;
    font-family: var(--fonte-helvetica-cond);
}

.erro{
    color: #ffffff;
}

/*C onteudo Lista*/
.container-list {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;

}

.section-list{
    width: 500px;
    margin-bottom: 50px;

}
.section-list h2{
    font-size: 25px;
    text-align: center;
    margin-bottom: 30px;
    color: var(--color-01);
}



.table{
    width: 100%;
    border-collapse: collapse;
    border: 2px solid white; 
}

th,td{
    padding: 10px;
    text-align: center;
    border: 1px solid var(--color-01);
}

#id{
    font-family: var(--fonte-roboto-l);
    
}
th {
    font-family: var(--fonte-roboto-r);
    color: var(--color-02);
}
.tbId{
    color: var(--color-02);
}
td{
    font-family: var(--fonte-roboto-l);
    color: var(--color-03);
}

footer {
    height: auto;
    background: no-repeat center/cover url(img/rodape-desktop.jpg);
    font-family: 'Roboto Light';
    padding-top: 40px;
    color: #fff;
    padding-bottom: 40px;

}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content p {
    max-width: 800px;
    margin: 1px auto;
    line-height: 28px;
    font-size: 14px;
}

@media (max-width: 500px) {

    nav {
        height: 80px;
        width: 100%;
        padding: 0 200px;
    }
    .table{
        display: none;
    }
    .table, .table tbody, .table tr, .table td{
        display: block;
        width: 100%;
    }

    .table th{
        display: none;
    }

    .table td{
        text-align: right;
        padding-left: 50%;
        text-align: right;
        position: relative;

    }

    .table td::before{
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        text-align: left;
    }

    footer {
        height: auto;
        background: no-repeat center/cover url(img/rodape-mobile.jpg);
        font-family: var(--fonte-roboto-l);
        padding-top: 40px;
        color: var(--color-04);
        padding-bottom: 40px;

    }
}